<div class="card small-width">
    <form method="post" action="/login">
        <div class="flex-wrapper">
            <i class="fa fa-user-circle-o fa-4x"></i>
            <p class="h5 text-center mb-4">Sign in</p>
        </div>

        <div class="md-form">
            <input type="text" name="username" class="form-control">
            <label for="username">Username</label>
        </div>

        <div class="md-form">
            <input type="password" name="password" class="form-control">
            <label for="password">Password</label>
        </div>

        <div class="text-center">
            <button class="btn btn-primary">Login</button>
        </div>
    </form>
</div>