<main class="container">
    <div class="card dialog">
        <form class="form">
            <textarea name="text-input" id="text" placeholder="Enter a word or phrase!"></textarea>
            <button id="submit">
                <i class="fa fa-question fa-2x" aria-hidden="true"></i>
            </button>
        </form>
    </div>
    <section class="card list-container">
        <div class="check">
            <h3>Previously Checked</h3>
            <button id="clear">Clear</button>
        </div>
        <div class="list-wrapper">
            <ul id="pali-list">
            </ul>
        </div>
    </section>
</main>