<main class="container">
    <section class="not-found">
        <h1>404</h1>
        <p>Sorry! The requested route was not found.</p>
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        <a href="/">Back to Home</a>
    </section>
</main>